requests~=2.34.2
beautifulsoup4~=4.15.0
pandas~=3.0.3
sqlalchemy~=2.0.50
psycopg2-binary~=2.9.12
google-auth~=2.54.0
google-api-python-client~=2.197.0
python-dotenv~=1.2.2
pytest~=9.1.0
pytest-cov~=7.1.0
